<p>analytics4 works!</p>
<div>
  <ul class="lg:flex font-semibold text-primary-900 text-lg gap-8 xl:gap-14">
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['']">Inicio</a>
    </li>
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['analytics4']">analytics4</a>
    </li>
  </ul>
</div>
<div class="pt-8 border border-red-500">
  <p class="pt-8 border border-red-500 text-3xl">parra1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
  <p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
  <p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
</div>
<div class="pt-8 border border-red-500">
  <p class="pt-8 border border-red-500 text-3xl">analytics4 works!</p>
  <p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
  <p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
  <p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
</div>
<div class="pt-8 border border-red-500">
  <p>analytics4 works!</p>
  <p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
  <p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
  <p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
</div>
<div class="pt-8 border border-red-500">
  <p>analytics4 works!</p>
  <p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
  <p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
  <p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p><p>demo1</p>
</div>
