<div class="p-0 m-0 w-full border border-black">
  <div
  class="border border-red-600 p-0 img1
  h-[480px] w-full
  md:h-[620px] md:w-full
  lg:h-[620px] lg:w-full
  xl:h-[760px] xl:w-full
  2xl:h-[760px] 2xl:w-full
  text-left subpixel-antialiased flex justify-center"
  [ngStyle]="{
    background: 'url(' + '/assets/images/auditorioBN4.jpg' + ')  no-repeat center top / cover'
  }"
  >
  <div class="pt-[48px] md:pt-[62px] lg:pt-[62px] xl:pt-[78px]">
    <video
      id="my-video"
      class="video-js
      w-[390px] h-[246px]
      md:w-[540px] md:h-[320px]
      lg:w-[540px] lg:h-[320px]
      xl:w-[662px] xl:h-[360px]
      2xl:w-[720px] 2xl:h-[480px]"
      controls
      preload="auto"
      poster="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0CJdK6_lwQSAY90yngAzlAusrbGyQxMnm9A&s"
      data-setup="{}"
      (error)="videoErr()"
    >
    <source src="https://3a016ba82ff0.us-east-1.playback.live-video.net/api/video/v1/us-east-1.058264146848.channel.0xx4NqX159Mi.m3u8" type="application/x-mpegURL">
    <p class="">
    Para ver este video, por favor habilitar javascript y considere la actualización de su navegador a un navegador que
    <a href="https://videojs.com/html5-video-support/" target="_blank">Soporte HTML5</a>
    </p>
    </video>
    </div>
  </div>

</div>
