<div>{{name}}</div>

<pre>
  urls: https://github.com/michalsnik/aos , https://michalsnik.github.io/aos/ <br>
  <strong>angular json</strong><br>
  "styles": [
  "node_modules/aos/dist/aos.css",

  "scripts": [
  "node_modules/aos/dist/aos.js",
  "node_modules/jquery/dist/jquery.min.js"
</pre>
<pre>
  <strong>app.component.ts</strong>
  copy the commented text
  <code>

  <!--

    import AOS from 'aos';

  ngOnInit() {
    AOS.init();
  }

   -->
  </code>
</pre>
<!-- //AOS - 3 -->
<div>
  <ul class="lg:flex font-semibold text-primary-900 text-lg gap-8 xl:gap-14">
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['']">Inicio</a>
    </li>
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['analytics4']">analytics4</a>
    </li>
  </ul>
</div>
<div class="box" data-aos="fade-up">fade-up</div>
<div class="box" data-aos="fade-down">fade-down</div>
<div class="box" data-aos="fade-right">fade-right</div>
<div class="box" data-aos="fade-left">fade-left</div>
<div class="box" data-aos="fade-up-right">fade-up-right</div>
<div class="box" data-aos="fade-up-left">fade-up-left</div>
<div class="box" data-aos="fade-down-right">fade-down-right</div>
<div class="box" data-aos="fade-down-left">fade-down-left</div>
<div class="box" data-aos="flip-left">flip-left</div>
<div class="box" data-aos="flip-right">flip-right</div>
<div class="box" data-aos="flip-up">flip-up</div>
<div class="box" data-aos="flip-down">flip-down</div>
<div class="box" data-aos="zoom-in">zoom-in</div>
<div class="box" data-aos="zoom-in-up">zoom-in-up</div>
<div class="box" data-aos="zoom-in-down">zoom-in-down</div>
<div class="box" data-aos="zoom-in-left">zoom-in-left</div>
<div class="box" data-aos="zoom-in-right">zoom-in-right</div>
<div class="box" data-aos="zoom-out">zoom-out</div>
<div class="box" data-aos="zoom-out-up">zoom-out-up</div>
<div class="box" data-aos="zoom-out-down">zoom-out-down</div>
<div class="box" data-aos="zoom-out-right">zoom-out-right</div>
<div class="box" data-aos="zoom-out-left">zoom-out-left</div>
<div class="box"
  data-aos="fade-up"
  data-aos-duration="3000"
  >duration 3000
</div>
<div class="box"
  data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500"
  >duration 1500
</div>
<div class="box"
  data-aos="fade-right"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine"
  >ease-in-sine
</div>
<div class="box"
  data-aos="fade-left"
  data-aos-anchor="#example-anchor"
  data-aos-offset="500"
  data-aos-duration="500"
  >
</div>
<div class="box"
  data-aos="fade-zoom-in"
  data-aos-easing="ease-in-back"
  data-aos-delay="300"
  data-aos-offset="0"
  >
</div>
<div class="box"
  data-aos="flip-left"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="2000"
  >
</div>
<div class="box"
  data-aos="fade-up"
  data-aos-anchor-placement="top-bottom"
  >
</div>
<div class="box"
  data-aos="fade-up"
  data-aos-anchor-placement="center-bottom"
  >
</div>
<div class="box"
  data-aos="fade-up"
  data-aos-anchor-placement="bottom-bottom"
  >
</div>
<div class="box"
  data-aos="fade-up"
  data-aos-anchor-placement="top-center"
  >
</div>
<div class="box"
  data-aos="fade-up"
  data-aos-anchor-placement="center-center"
  >
</div>
<div class="box"
  data-aos="fade-up"
  data-aos-anchor-placement="bottom-center"
  >
</div>

<div class="box" data-aos="fade-in" data-aos="fade-up" data-aos-once="true"></div>
<div data-aos="fade-up" data-aos-once="true">
  the content
</div>

